.drink-div {
  display: flex;
  flex-direction: column;
}

.drink-header {
  margin-bottom: 100px;
}

.drink-categories {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 360px;
}

.drink-categories span {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.drink-categories button {
  background-color: #a47631;
  border: 0;
  border-radius: 10px;
  box-shadow: 1px 1px 0 1px rgba(105, 104, 104, 0.651);
  color: white;
  height: 40px;
  margin: 2px;
  text-shadow: 1px 1px black;
  width: 115px;
}

.drink-cards {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 40px;
}
