.favorite-page {
  background-color: white;
  height: 100%;
  width: 360px;
}

.favorite-header header div {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.favorite-header header div h2 {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-left: 30px;
  text-align: center;
}

.favorite-filter-btn {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.favorite-filter-btn button {
  background-color: #a47631;
  border: 0;
  border-radius: 10px;
  box-shadow: 1px 1px 0 1px rgba(105, 104, 104, 0.651);
  color: white;
  height: 40px;
  margin: 2px;
  text-shadow: 1px 1px black;
  width: 115px;
}

.favorite-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px rgb(107, 107, 107);
  display: flex;
  flex-direction: row;
  height: 150px;
  justify-content: space-around;
  margin-left: 10px;
  margin-right: 20px;
  margin-top: 10px;
  padding: 10px;
  width: 340px;
}

.favorite-data {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  text-align: center;
}

.favorite-data p {
  color: #a47631;
  margin: 0;
}

.favorite-img {
  border-radius: 10px;
  height: 120px;
}

.favorite-itens {
  display: flex;
  flex-direction: column;
  height: 130px;
  justify-content: center;
}

.favorite-btn {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 10px;
  margin-top: 0;
}

.favorite-btn input {
  background-color: white;
  border: 0;
  height: 30px;
  width: 30px;
}

.favorite-name {
  color: #a47631;
  font-size: 30px;
}
