.favorite-page {
  background-color: #0fa36b;
  height: 100%;
  padding: 10px;
  width: 350px;
}

.favorite-header header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 40px;
  width: 300px;
}

.favorite-header h2 {
  margin: 0px;
  width: 200px;
}

.favorite-filter-btn {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-right: 30px;
}

.favorite-filter-btn button {
  background-color: white;
  border: 0px;
  border-radius: 10px;
  width: 70px;
}

.favorite-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px rgb(107, 107, 107);
  display: flex;
  flex-direction: row;
  height: 200px;
  margin: 5px;
  margin-right: 20px;
  padding: 10px;
}

.favorite-data {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.favorite-data p {
  margin: 0;
}

.favorite-img {
  border-radius: 10px;
  height: 150px;
}

.favorite-itens {
  display: flex;
  flex-direction: column;
  height: 130px;
}

.favorite-btn {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 0;
  margin-left: 10px;
}

.favorite-btn input {
  background-color: white;
  border: 0px;
  height: 30px;
  width: 30px;
}

.favorite-name {
  font-size: 18px;
}