.main-div-drink-details {
  display: flex;
  height: 100%;
  width: 360px;
}

.header-div {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: 10px;
  width: 360px;
}

.header-div-img {
  border-radius: 10px;
  box-shadow: 2px 2px 0 2px rgba(105, 104, 104, 0.651);
  height: 200px;
  margin: 10px;
  width: 340px;
}

.header-div header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.start-recipe-btn {
  background-color: #a47631;
  border: 0;
  border-radius: 10px;
  bottom: 0;
  color: white;
  height: 50px;
  left: 0;
  position: fixed;
  text-align: center;
  text-shadow: 1px 1px black;
  width: 100%;
}

.img-share {
  height: 30px;
  width: 30px;
}

.img-favorite {
  height: 30px;
  width: 30px;
}

.header-btn-details {
  align-items: center;
  background-color: #a47631;
  border-radius: 10px;
  color: white;
  display: flex;
  justify-content: space-around;
  margin: 10px;
  padding: 10px;
  width: 340px;
}

.btn-details {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.btn-details input {
  filter: invert(100%);
  margin: 10px;
}

.drink-title {
  height: 50px;
  width: 100%;
}

.header-div h2 {
  background-color: #a47631;
  border-radius: 10px;
  color: white;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

.button-left {
  background-color: #a47631;
  border: 0;
  border-radius: 100%;
  color: white;
  height: 50px;
  width: 50px;
}

.button-right {
  background-color: #a47631;
  border: 0;
  border-radius: 100%;
  color: white;
  height: 50px;
  width: 50px;
}

.carousel-int-div {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 200px;
  justify-content: space-around;
  margin-bottom: 20px;
  width: 340px;
}

.card-carousel {
  align-items: center;
  background-color: white;
  border-radius: 20px;
  box-shadow: 1px 1px 0 1px rgba(105, 104, 104, 0.651);
  color: #a47631;
  display: flex;
  flex-direction: column;
  height: 140px;
  justify-content: center;
  width: 100px;
}

.card-carousel img {
  border-radius: 10px;
  height: 60px;
  margin-top: 10px;
  width: 80px;
}

.drink-instructions {
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 0 1px rgba(105, 104, 104, 0.651);
  height: 100%;
  margin-bottom: 10px;
  padding: 10px;
  width: 330px;
}

.drink-ingredients {
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 0 1px rgba(105, 104, 104, 0.651);
  height: 100%;
  margin-bottom: 10px;
  padding: 10px;
  width: 330px;
}
